/* Box sizing rules */
:root {
  /* colors */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* background-color: black; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  width: 1440px;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Hanken Grotesk", sans-serif;
  /* border: 1px solid red; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* editing start from here */
#main_body {
  /* border: 1px solid green; */
  width: 75.1vw;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border: 1px solid black; */
  border-radius: 1.6rem;
  width: 36.5rem;
  height: 25.5rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 11px 3px rgba(48, 59, 90, 0.34);
  box-shadow: 5px 10px 18px 8px rgba(48, 59, 90, 0.07);
}

.side-left {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  text-align: center;
  /* border: 1px solid green; */
}

.heading {
  color: hsl(241, 100%, 89%);
  font-size: 1.16rem;
  margin: 1.75rem;
  letter-spacing: 0.3px;
}

.circle {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  margin-bottom: 1.3rem;
  /* border: 1px solid black; */
}

.circle h1 {
  color: hsl(0, 0%, 100%);
  font-size: 3.5rem;
  margin-bottom: -0.8rem;
}

.circle span {
  color: hsla(241.1, 100%, 89%, 0.51);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.appreciation {
  font-size: 1.55rem;
  margin-top: 0.8rem;
  color: hsl(0, 0%, 100%);
}

.para {
  font-size: 0.89rem;
  padding: 0 3rem;
  margin-top: 0.5rem;
  color: hsl(241, 100%, 89%);
  line-height: 18.5px;
}

.side-right {
  width: 50%;
  height: 100%;
  /* border: 1px solid greenyellow; */
}

/* media query for mobile */
@media screen and (max-width: 450px) {
  body {
    width: 100%;
    height: 100%;
  }

  #main_body {
    width: 100%;
    min-height: 100%;
    position: relative;
  }

  .card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 0;
    overflow: scroll;
  }

  .side-left {
    width: 100vw;
    height: 25vh;
    /* min-width: 326px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
  }

  .appreciation {
    margin-bottom: 0.5rem;
  }

  .para {
    padding: 0;
    margin: 0 auto;
    width: 15rem;
    margin-bottom: 1.5rem;
  }

  .side-right {
    width: 90%;
  }
}
